@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

:root {
   --sidebar_bg: #333;
   --gray: #a4b2bc;
   --white: #fff;
   --content_bg: #e4e9f7;
   --light_dark: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Nunito", sans-serif;
   scroll-behavior: smooth;
}
html {
   font-size: 62.5%;
}
a {
   text-decoration: none;
}
li {
   list-style: none;
}

.header {
   position: relative;
   left: 220px;
   max-width: calc(100% - 220px);
   transition: all 0.3s ease;
}
.sidebar.close ~ .header {
   left: 78px;
   max-width: calc(100% - 78px);
}
@media (max-width: 1024px) {
   html {
      font-size: 59%;
   }
}
@media (max-width: 768px) {
   html {
      font-size: 55%;
   }
}
@media (max-width: 450px) {
   html {
      font-size: 48%;
   }
   .home_slider .slide_item {
      padding-left: 12%;
   }
}
